# Gitignore

## Readings
Readings/

## data
data/*

## Pretrained Models
models/

## Working on it
scripts/prepare_for_wenet.py

#Virtual Environment
venv/

# Openvoice repo
openvoice/

# Passages
passages

scripts/dialects_metadata.json