# Gitignore

## Readings
Readings/

## data
data/*

## Pretrained Models
models/

## Working on it
scripts/prepare_for_wenet.py

#Virtual Environment
venv/
ovvenv/

# Openvoice repo
openvoice/

# Passages
passages

# .env
.env

# Scripts
scripts/dialects_metadata.json
scripts/phased_out/*
