aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiohttp-retry==2.8.3
aioice==0.10.1
aiortc==1.9.0
aiosignal==1.4.0
aiosqlite==0.21.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.49.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
APScheduler==3.11.0
async-timeout==5.0.1
asyncua==1.1.6
attrs==25.3.0
audioread==3.0.1
av==10.0.0
backoff==2.2.1
beautifulsoup4==4.13.4
boto3==1.35.60
botocore==1.35.99
bs4==0.0.2
cachetools==5.5.2
certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cn2an==0.5.22
coloredlogs==15.0.1
contourpy==1.2.1
cryptography==45.0.5
ctranslate2==3.24.0
cycler==0.12.1
Cython==3.0.12
dataclasses-json==0.6.7
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
dtw==1.4.0
dtw-python==1.4.4
eng_to_ipa==0.0.2
exceptiongroup==1.3.0
fastapi==0.115.14
fastdtw==0.3.4
faster-whisper==0.9.0
ffmpy==0.6.1
filelock==3.17.0
flatbuffers==25.2.10
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2025.7.0
google-crc32c==1.7.1
gradio==3.48.0
gradio_client==0.6.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.17.3
humanfriendly==10.0
idna==3.10
ifaddr==0.2.0
imageio==2.37.0
importlib_resources==6.5.2
inflect==7.0.0
iniconfig==2.1.0
isodate==0.7.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.7
langid==1.1.6
lazy_loader==0.4
librosa==0.9.1
llvmlite==0.43.0
lxml==6.0.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.8.4
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
multidict==6.6.3
mypy_extensions==1.1.0
narwhals==2.0.1
networkx==3.2.1
numba==0.60.0
numpy==1.26.4
nvidia-ml-py==12.575.51
omegaconf==2.3.0
onnxruntime==1.19.2
onvif-zeep-async==2.0.0
openai==1.97.1
openai-whisper==20250625
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
orjson==3.11.1
packaging==24.2
paho-mqtt==1.6.1
pandas==2.3.1
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
pooch==1.8.2
proces==0.1.7
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.22.1
propcache==0.3.2
protobuf==6.31.1
py-cpuinfo==9.0.0
pybase64==1.0.2
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.7.1
pydantic_core==2.33.2
pydot==2.0.0
pydub==0.25.1
pyee==13.0.0
Pygments==2.19.2
PyJWT==2.10.1
pylibsrtp==0.12.0
pylogix==1.0.5
pymodbus==3.8.3
pyOpenSSL==25.1.0
pyparsing==3.2.3
pypinyin==0.50.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
redis==5.0.8
referencing==0.36.2
regex==2025.7.31
requests==2.32.4
requests-file==2.1.0
requests-toolbelt==1.0.0
resampy==0.4.3
rich==13.9.4
rpds-py==0.26.0
s3transfer==0.10.4
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
semantic-version==2.10.0
shapely==2.0.7
shellingham==1.5.4
silero==0.4.1
silero-vad @ git+https://github.com/snakers4/silero-vad.git@94811cbe1207ec24bc0f5370b895364b8934936f
simple-pid==2.0.1
six==1.17.0
slack_sdk==3.33.5
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.7
starlette==0.46.2
structlog==24.4.0
supervision==0.25.1
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2024.8.30
tiktoken==0.9.0
tldextract==5.1.3
tokenizers==0.21.4
tomli==2.2.1
torch==2.7.1
torchaudio==2.7.1
tqdm==4.67.1
twilio==9.3.8
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
Unidecode==1.3.7
urllib3==1.26.20
uvicorn==0.35.0
wait_for2==0.3.2
wavmark==0.0.3
websockets==11.0.3
whisper-timestamped==1.14.2
yarl==1.20.1
zeep==4.3.1
zipp==3.23.0
zxing-cpp==2.2.0
